<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
	<% include ../partials/header %>
  
    <p>
	Welcome to <%= title %>, <%= username%>
	</p>
	
	<% if (isLogin){ %>
		<a href="/login/logout">logout</a>
	<% } else { %>
		Please <a href="/login">login</a>
	<% } %>
	
	<% include ../partials/footer %>
  </body>
</html>
