<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
	<% include ../partials/header %>
  
    <p>
	Welcome to <%= title %>
	</p>
	<a href="/login/logout">Logout</a>
	
	<% include ../partials/footer %>
  </body>
</html>
